[2018-03-21 11:13] badbole opened #10 "Currency rate inverted : ratio?"
As introduced inverted currecy rate works nice,
But, could we consider also a factor.
When banks give inverted currency rate ( Croatia, Hungary ) they put a factor also..
So most currencies have factor(or units)  1, but some may have factor 100,
Hov we suppose to hande that case?
Examples can be examined:
croatia : https://www.hnb.hr/temeljne-funkcije/monetarna-politika/tecajna-lista/tecajna-lista

[2018-03-28 11:14] ghost opened #14 "Currency rate error with multiple services running at the same time"
**Steps to reproduce**:
- **GIVEN** multicompany enviroment
 **AND** one currency update service for each company
 **AND** each company has the same currencies to update

- **WHEN** services are running

**Current behavior**:
odoo.exceptions.UserError: ("In company XXX, the rate of the main currency (YYY) must be 1.00 (current rate: ZZZ).", '')

I'm already working on fixing this error.

[2018-03-28 12:28] pedrobaeza commented on #14
Closing as there's a PR fixing it

[2018-03-28 12:28] #14 closed, assigned to nobody

[2018-04-17 13:53] chrbarth82 opened #17 "Problem when installing on Odoo 1"
Hi all,

When trying to install the Currency Rate Updater on our Odoo 11, I receive the following error - could you please help:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/opt/bitnami/apps/odoo/lib/odoo-11.0.post20171218-py3.6.egg/odoo/models.py", line 967, in _validate_fields
    check(self)
  File "/opt/bitnami/apps/odoo/lib/odoo-11.0.post20171218-py3.6.egg/odoo/addon

[2018-04-17 13:55] pedrobaeza commented on #17
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (https://runbot.odoo-community.org/runbot), so please be sure you are following the proper installation steps.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please reply adding all the additional information for reproducing the problem.

[2018-04-17 13:55] #17 closed, assigned to nobody

[2018-04-17 15:01] misuv opened #18 "currency_rate_update install error"
Hi

I tried to install currency_rate_update on Odoo 11 and I received the following error:

`Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/models.py", line 1023, in _validate_fields
    if extra_error:
  File "/odoo/odoo-server/odoo/addons/base/ir/ir_ui_view.py", line 330, in _check_xml
    view_def = view.read_combined(['arch'])
  File "/odoo/odoo-ser

[2018-04-17 15:11] #18 closed, assigned to nobody

[2018-04-17 15:12] moylop260 commented on #18
Duplicated with https://github.com/OCA/currency/issues/17#comment-382001615

Check the comment too please

[2018-04-17 15:20] misuv commented on #17
I just had the same problem: see currency_rate_update install error #18

here are the install steps I used:

1. I installed all dependencies:

base | Installed
mail | Installed
account | Installed

2. used Putty to install it:

cd /tmp
sudo git clone -b 11.0 https://github.com/OCA/currency.git
sudo mv /tmp/currency/currency_rate_update  /odoo/custom/addons

3. restarted Odoo server - there is no e

[2018-04-17 15:25] moylop260 commented on #17
I can't reproduce it

Result using `--without-demo=all`:
 - <img width="1275" alt="screen shot 2018-04-17 at 10 22 32" src="https://user-images.githubusercontent.com/6644187/38879618-62c4cc98-4229-11e8-8367-e0370c60595f.png">

Result without using `--without-demo=all`:
 - <img width="1280" alt="screen shot 2018-04-17 at 10 25 01" src="https://user-images.githubusercontent.com/6644187/38879696-9c48

[2018-04-17 15:25] pedrobaeza commented on #18
Maybe Python 2 instead of 3?

[2018-04-17 15:35] moylop260 commented on #17
It's very strange that 2 people have the same error.
I'm looking for other reason and I found a posible reason to reproduce it

We have duplicated a module name `currency_rate_update`:
 - https://github.com/OCA/account-financial-tools/blob/10.0/currency_rate_update/views/account_config_settings.xml

(But I didn't see it migrated to version 11.0)

Could you upload a screenshot of all pages of the m

[2018-04-17 15:40] misuv commented on #17
![image](https://user-images.githubusercontent.com/13998625/38880505-9578bc18-426e-11e8-8bfa-a5c11447463f.png)

I know the other module, I didn't install it

![image](https://user-images.githubusercontent.com/13998625/38880612-cdb1e42e-426e-11e8-982d-373146a38817.png)

[2018-04-17 15:42] moylop260 commented on #17
Thanks
Could you create an empty database and install just the `currency_rate_update` module, please?

[2018-04-17 15:45] moylop260 commented on #17
In fact, the traceback told us `odoo-11.0.post20171218-py3.6.egg`
- You are using python3.6 and you must use py3.5
- You are using a too old odoo-11.0 version (2017-12-18, please upgrade it)

And repeat the steps with an empty database in order to confirm an environment error.

[2018-04-17 15:46] pedrobaeza commented on #17
It's not duplicated, but the module has been moved from OCA/account-financial-tools (last version: 10) to OCA/currency (in v11). They are not using the correct one I think.

[2018-04-17 15:56] misuv commented on #17
I upgrade it before I installed currency update module

with an empty database the module is installing fine. (same Odoo, same python, same server)

could be a problem from another custom module?

[2018-04-17 15:57] moylop260 commented on #17
I confirm that this issue is reproduced it using a old 11.0 odoo version:
Steps to reproduce it:

 - Use a old version of odoo11.0 <=2017-12:
  - Using in odoo local repository `git reset --hard 8836ad52741`
- See the old date of this version
  - Using in odoo local repository `git show 8836ad52741`
[code]
- Install `currency_rate_update` module in a empty database:
 - `./odoo-bin -d new_db -i cur

[2018-04-17 16:06] misuv commented on #17
I upgrade it Odoo before installed the module (with error)

with an empty database is installing fine

how to  upgrade the original views of account module?

[2018-04-17 16:07] moylop260 commented on #17
FYI you will need the following commit applied:
 - https://github.com/odoo/odoo/commit/3715244a51a2aa382e98da69905a4aa6759b50e0

Then you need a odoo11.0 release >= 10/Feb/2018

@feketemihai Maybe we can use a dual compatibility using other field (without changes) in order to add the inherited field without issues with all 11.0 odoo version.

@misuv @chrbarth82 for now you will need to upgrade odo

[2018-04-17 16:09] moylop260 commented on #17
`... -d {your_database} -u account`

Or use `Upgrade` button from `Settings / Apps` on `account` module.

[2018-04-17 16:10] pedrobaeza commented on #17
The prerequisite should be to have an upgraded Odoo I think. I don't see working in a compatibility that's is solved through an update.

[2018-04-17 16:25] misuv commented on #17
1. I upgraded the apps
2. I upgraded Odoo using:
`cd /odoo

cd odoo-server

sudo git fetch origin 11.0

sudo git reset --hard origin/11.0

sudo service odoo-server restart -u all -d [db_name]
`
3. still same error

[2018-04-17 18:39] pedrobaeza commented on #17
That command is not correct for updating all

[2018-04-17 19:28] misuv commented on #17
I found the solution
1. I unistall Acounting management by By Cubic ERP, Odoo
2. I installed Currency update module (no errors)
3. Reinstall  Acounting management by By Cubic ERP, Odoo (no errors)

[2018-04-17 20:08] pedrobaeza commented on #17
Then the problem can be in that module, that is inheriting the bad way (making a replace for example).

[2018-04-17 20:10] feketemihai commented on #17
It was with currency_rate_module since the label was changed from string to id in v11 base odoo.

Sent from my Huawei Mobile

-------- Original Message --------
Subject: Re: [OCA/currency] Problem when installing on Odoo 1 (#17)
From: "Pedro M. Baeza"
To: OCA/currency
CC: Mihai FEKETE ,Mention

Then the problem can be in that module, that is inheriting the bad way (making a replace for example).

[2018-04-17 20:14] pedrobaeza commented on #17
OK, thanks for the explanation.

[2018-04-18 05:23] feketemihai commented on #17
@pedrobaeza I think you can close it, solution is in #19 .

[2018-06-12 08:14] bd5dml77 opened #21 "currency_rate_update ::invalid synax"
2018-06-12 07:48:51,467 45472 ERROR ? werkzeug: Error on request:
Traceback (most recent call last):
  File "H:\GOdoo11\runtime\python\lib\site-packages\werkzeug\serving.py", line 209, in run_wsgi
    execute(self.server.app)
  File "H:\GOdoo11\runtime\python\lib\site-packages\werkzeug\serving.py", line 197, in execute
    application_iter = app(environ, start_response)
  File "H:\GOdoo11\source\o

[2018-06-12 08:46] pedrobaeza commented on #21
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo-community.com), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps, please

[2018-06-12 08:46] #21 closed, assigned to nobody

[2018-06-12 12:01] bd5dml77 opened #22 "currency_rate_update: invalid syntax????"
2018-06-12 07:48:51,467 45472 ERROR ? werkzeug: Error on request:
Traceback (most recent call last):
  File "H:\GOdoo11\runtime\python\lib\site-packages\werkzeug\serving.py", line 209, in run_wsgi
    execute(self.server.app)
  File "H:\GOdoo11\runtime\python\lib\site-packages\werkzeug\serving.py", line 197, in execute
    application_iter = app(environ, start_response)
  File "H:\GOdoo11\source\o

[2018-06-12 12:05] #22 closed, assigned to nobody

[2018-06-12 12:06] pedrobaeza commented on #22
The problem is still on your deployment, and you don't provide any new detail. Try on Linux.

[2018-06-19 06:50] SalahAdDin opened #24 "[11.0]Update currency does not work"
Hi,

I'm using this addon for update automatically the currency rates for the currencies that we are using right now: Euro, Dolar and Turkish Lira, this is because the rates are so outdated(2010).

I followed the instructions but I just got update the dollar currency:
![laprueba](https://user-images.githubusercontent.com/5034215/41580803-d990503e-73a4-11e8-90bf-ffe144020ffa.png)

I set `USD` as ma

[2018-06-19 07:13] pedrobaeza commented on #24
You have to set the currencies at company level.

[2018-06-19 07:41] SalahAdDin commented on #24
I did, I put Turkish lira as the base:
![ahora](https://user-images.githubusercontent.com/5034215/41583482-512b01b8-73ad-11e8-9548-389d23b4e94f.png)

[2018-06-19 07:46] pedrobaeza commented on #24
No, that's not what I'm talking about. Please check README.

[2018-06-19 07:57] SalahAdDin commented on #24
![this](https://user-images.githubusercontent.com/5034215/41584292-9915ef90-73af-11e8-9e92-f731dc175cc0.png)
This?

I checked it many times, along two days and I still get this behaviour.

It just does not works, my odoo version is `Odoo 11.0-20180122 (Community Edition)`.

[2018-06-20 07:35] SalahAdDin commented on #24
@pedrobaeza, I tried.

[2018-06-27 01:03] BusinessTec opened #26 "currency_rate_inverted in invoice line"
Version 11 - it looks like  in case  creating an invoice from scratch using currency marked as inverted the product unit price is incorrect as is calculated in account_invoice.py
Is there any known fix for it?

[2018-07-18 14:46] levin222 commented on #24
the same to me with the version Odoo 11.0-20180718

[2018-07-18 14:57] SalahAdDin commented on #24
@levin222, please review my https://github.com/OCA/currency/pull/27

[2018-07-18 14:57] #24 closed, assigned to nobody

[2018-08-04 09:53] ayushin opened #29 "can't find support for shared currencies?"
Hi,

The README says that shared currencies are supported (i.e. company_id is NULL in res_currency_rate), however from what I see in the code is that the update module is always setting company_id to the id of the company the updater is configured for.

The README says there's a functional field to share currencies between the companies, what field is that?

[2018-08-04 10:16] pedrobaeza commented on #29
Which module? Which version?

[2018-08-04 10:20] ayushin commented on #29
My bad!

currency_rate_update 11.0 (latest)

Expected behaviour for multi-companies with shared currencies (company_id = [null]) is to set company_id to [null] when adding new/updated currency rates. Actual behaviour company_id = company_id of the configured currency_update_service, i.e. currency_rate is only visible for that company.

What am I missing?

[2018-08-04 10:21] pedrobaeza commented on #29
The module does nothing with that. Shared currencies are got through res.currency records without company_id field set.

[2018-08-04 10:26] ayushin commented on #29
- res_currency model in odoo does not have company_id field
- res_currency_rate does have company_id field

That's what I can see in the database.

The module always creates res_currency_rate with a company_id non-null.

Perhaps I am missing something trivial, how can I configure the currency rates to be shared?

[2018-08-04 10:29] pedrobaeza commented on #29
You're right. The `company_id` field + the record rule is on the rate part, but the shared rate with this module is not possible seeing the code. Just configure the same service across companies or contribute with a modification for allowing it.

[2018-08-04 12:45] ayushin commented on #29
This does the trick:

diff --git a/currency_rate_update/models/currency_rate_update.py b/currency_rate_update/models/currency_rate_update.py
index dc46592..cc9afcb 100644
--- a/currency_rate_update/models/currency_rate_update.py
+++ b/currency_rate_update/models/currency_rate_update.py
@@ -103,7 +103,7 @@ class CurrencyRateUpdateService(models.Model):
                                           'th

[2018-08-04 13:01] pedrobaeza commented on #29
If I don't remember bad, that link is because you configure update services through a one2many field in the company, and thus it requires that field for the inverse name. There should be then another menu (or section in settings) for configuring this shared update services. Do you understand what I mean?

[2018-08-04 13:12] ayushin commented on #29
well, manual update works this way (company_id = [null]), but I guess you are talking about automatic update?

[2018-08-04 13:19] pedrobaeza commented on #29
Yes, I'm talking about streamlining the process with this module.

[2018-09-27 00:06] OCA-git-bot opened #31 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] account_cryptocurrency
- [ ] account_fx_spot
- [x] currency_monthly_rate - By @i-vyshnevska - #45
- [x] currency_rate_inverted - By @alexey-pelykh - #41
- [x] currency_rate_update - ~~By @rven - #32~~ By @alexey-pelykh - #42
- [ ] currency_rate_update_cmc

[2018-10-02 15:20] rven commented on #31
[12.0][MIG] currency_rate_update #32

[2018-10-03 01:24] BeAntares opened #33 "Can't install currency rate update addon"
When I try to install the `currency_rate_update` addon v 11.0, I get the next error message:

[code]

Do I need to create the scheduled action manually?

[2018-10-11 18:15] pedrobaeza commented on #33
I don't think so. Module is being properly installed on runbot, so you check your installation method.

[2018-10-11 18:15] #33 closed, assigned to nobody

[2018-12-04 18:30] alexey-pelykh commented on #31
@pedrobaeza there's a #32 which I'm a bit interested in, how should I proceed?

[2018-12-04 23:13] pedrobaeza commented on #31
Go ahead starting from that branch if you think it's useful or migrate from the beginning, as the PR seems abandoned (and closed by the author).

[2019-02-13 06:47] alexey-pelykh commented on #31
`currency_rate_inverted` #41

[2019-02-13 09:33] alexey-pelykh commented on #31
`currency_rate_update` #42

[2019-03-15 12:00] gustavovalverde opened #44 "[11.0] Adding this repository crashes Odoo"
[code]

[2019-03-15 12:01] gustavovalverde commented on #44
cc: @jbeficent

[2019-03-15 13:59] i-vyshnevska commented on #31
currency_monthly_rate https://github.com/OCA/currency/pull/45

[2019-03-15 15:30] pedrobaeza commented on #44
The import should be protected.

[2019-04-25 18:00] tbaden commented on #31
currency_monthly_rate merged but still unchecked

[2019-05-11 19:15] SSanfilippo opened #54 "[11] Web Service does not exist"
Hi at all,
I installed the last version of Currency for Odoo 11 in my production enviroment, previous I used it in Odoo 10 without problem, but in Odoo 11 I get the error:

ERROR: UserError('Web Service does not exist (http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml)!', '')

The module is configured and also the scheduler task is active.

Any suggestions?

[2019-05-12 17:40] Alexandre-Bernardes commented on #54
I have the same error.

[2019-06-01 15:27] emagdalenaC2i commented on #31
Please, check currency_rate_inverted - By @alexey-pelykh - #41 that is already merged

[2019-06-11 04:24] virtuabart opened #57 "No OpenExchangeRates.org credentials specified!"
Hello, I'm using this as of today. And when I install it using Odoo v12, this is the error message:

No OpenExchangeRates.org credentials specified!

Thanks.

[2019-06-11 07:21] pedrobaeza commented on #57
https://github.com/OCA/currency/tree/12.0/currency_rate_update_oxr#configuration

[2019-06-11 07:21] #57 closed, assigned to nobody

[2019-06-17 09:09] virtuabart opened #58 "Error in Odoo 12, cannot create rate provider"
Hello when I install this, the error:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 12.0\server\odoo\api.py", line 1039, in get
    value = self._data[key][field][record._ids[0]]
KeyError: <odoo.models.NewId object at 0x05D87A90>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Pr

[2019-06-17 09:41] alexey-pelykh commented on #58
@rockethubble can you reproduce this on clean install or even better - on runbot?

[2019-07-05 17:47] carlo-github commented on #58
I have the same problem described above in Odoo12

[2019-07-06 07:55] alexey-pelykh commented on #58
@carlo-github is it a fresh install or update? Is it random or repeatable? Is in reproducible on runbot?

[2019-07-06 10:12] carlo-github commented on #58
Hy
it's a new install of odoo12 and the errors is happen everytime I choose 'OpenExchangeRates.org" as Source Service. I'm sorry I never used runbot..
Thank you.

[2019-07-06 10:28] alexey-pelykh commented on #58
Try #59

[2019-07-06 11:56] #58 closed, assigned to alexey-pelykh

[2019-07-06 13:49] carlo-github opened #60 "403 forbidden"
HTTP Error 403: Forbidden odoo12
when perform action "Update Rates Wizard" in     Currency Rates Providers/OpenExchangeRates.org
currency EUR RON

ihave put de app id in configuration

![Firefox_Screenshot_2019-07-06T13-43-28 056Z](https://user-images.githubusercontent.com/36795969/60757035-8b11f000-a005-11e9-99c6-c49c53451916.png)
![Firefox_Screenshot_2019-07-06T13-44-04 885Z](https://user-images

[2019-07-16 14:37] MohsenWaleed commented on #26
I'm facing the same issue and I found that currency conversion in account_invoice.py depend on currency rate field without calling _get_conversion_rate which overrided in currency_rate_inverted module.

 self.price_unit = self.price_unit * currency.with_context(dict(self._context or {}, date=self.invoice_id.date_invoice)).**rate**

[2019-07-22 09:08] kittiu opened #61 "[12.0] Sales and Purchase currency rate available somewhere?"
Hi, we used to have module that allow having both sales and purchase rate in currency master table. https://github.com/ecosoft-odoo/rjc_v8/tree/master/currency_rate_enhanced

Anything similar already exists? If not, can we develop one here?

Thanks!

[2019-07-23 08:58] gaikaz opened #62 "[12.0][BUG][currency_rate_update] Daily rates stop updating automatically on the end of weeks"
If configured to update daily, the `res.currency.rate.provider` gets stuck on the end of weeks. I have been seeing this on multiple databases and now found a way to reproduce it on OCA runbot.

**Steps to reproduce**
1. Set initial state:
  * Company currency set to `EUR`
  * Currency Rate Provider record:
    * Source Service: `European Central Bank`
    * Scheduled update interval: `1 Day(s)`

[2019-08-05 13:43] gaikaz commented on #60
Getting same error. After investigation, the problem seems to be rising from incorrect authorization header being sent to OXR API.

Suspected line of code:
https://github.com/OCA/currency/blob/12.0/currency_rate_update_oxr/models/res_currency_rate_provider_OXR.py#L106

On this line, the header is set like so:
`'Bearer %s' % self.company_id.openexchangerates_app_id`
Which simplified would be:
`'Bea

[2019-08-05 14:07] carlo-github commented on #60
Thank you for your reply.. I modified that line, upgraded the module from Odoo and even restart it.. but unluckly I obtain again the same error 403.. and from Odoo log any other information against
"2019-08-05 14:06:02,397 5933 WARNING LVN001 odoo.addons.currency_rate_update.models.res_currency_rate_provider: Currency Rate Provider Failure: HTTP Error 403: Forbidden "
Any other suggest?

[2019-08-05 17:41] gaikaz commented on #60
@carlo-github
Sorry, forgot to mention that I tried to change that myself with no success. I can only guess now, that urllib does something more with request headers under the hood, that we are not aware of.

_Just thoughts, but it would be great if this module used `requests` library instead of `urllib`. Would probably make it much easier to debug now._

[2019-08-06 15:57] carlo-github commented on #60
So this is a bug or? what need to do?

[2019-08-07 07:39] gaikaz commented on #60
It is a bug. We need someone with time, skill and resources to fix this.

@alexey-pelykh , you seem to be the main contributor of this module and very active here in general. What are your thoughts on this? Could you point us in the right direction?

[2019-08-07 08:11] alexey-pelykh commented on #60
@gaikaz just tested on Postman:
1. Without `app_id` in needed we need to specify `Token` instead of `Bearer`. So a PR fixing that would be welcomed.
2. With `app_id` it ignores header completely, so we're ok even without that.

@carlo-github you've mentioned that you're using EUR<>RON currency pair. I assume that you're having paid plan?

[2019-08-07 08:13] alexey-pelykh commented on #62
I'll take a look a this issue

[2019-08-07 08:30] carlo-github commented on #60
Thank you.. as per their website
"Our popular Free Plan provides hourly updates (with base currency USD) and up to 1,000 requests/month."
So I'm using the free plan because my update should be 1 time per day.

[2019-08-07 08:30] gaikaz commented on #62
I have investigated this with a colleague today and it looks like ECB simply doesn't provide the rates for weekends.
Can be seen here: https://www.ecb.europa.eu/stats/eurofxref/eurofxref-hist-90d.xml
![image](https://user-images.githubusercontent.com/17097810/62607248-6eb7ea80-b906-11e9-8d2b-5935763650f9.png)

Thought, I would still consider this a bug of the module, as the cron job assumes it can

[2019-08-07 08:31] alexey-pelykh commented on #60
@carlo-github *(with base currency **USD**)*,: it your case your free plan does not allow EUR as base currency

In other words, it's not a bug and issue you're seeing is valid - you don't have permission to get EUR<>RON rates

[2019-08-07 08:33] alexey-pelykh commented on #62
Yes, and if there's no data retrieved, no date shift happens, clearly an issue

[2019-08-07 08:33] pedrobaeza commented on #60
wrong ping. It should be @carlo-github

[2019-08-07 08:34] alexey-pelykh commented on #60
Oh, sorry. My bad, multitasking

[2019-08-07 09:11] carlo-github commented on #60
You are right.. I had create a new db with USD as main currency and the service working well for the rates against EUR.
As I have actually some database with EUR ans some other with RON as main currency, what do you suggest for sort out this problem? Are there other service for update the rates daily?
Thank you.

[2019-08-07 09:16] alexey-pelykh commented on #60
@carlo-github if you're looking for free one, probably ECB is a choice for you? Also https://github.com/OCA/currency/pull/52 may work out for you

[2019-08-07 09:16] alexey-pelykh commented on #60
@pedrobaeza this issue may be closed I think

[2019-08-07 09:35] pedrobaeza commented on #60
Yes. @carlo-github be thankful to @alexey-pelykh that has given you free extra support outside the scope of the issue tracker.

[2019-08-07 09:35] #60 closed, assigned to nobody

[2019-08-07 11:40] #62 closed, assigned to nobody

[2019-08-07 11:44] gaikaz commented on #62
@alexey-pelykh Thank you for solving this :)

[2019-08-13 13:56] carlo-github opened #65 "Import product variant price"
I'm tried to import a csv file (here attached) with some informations regarding a product with 1 attribute and 4 attribute value. I added even a column for the variant sell price but I wan't able to import that.. it update the product price and not each variant price with the related price.
Maybe I made something wrong?
Thank you
[import_hosting_test.zip](https://github.com/OCA/currency/files/3497

[2019-08-13 13:56] pedrobaeza commented on #65
This is not the proper repo, and questions must be done on forums or mailing lists, not here.

[2019-08-13 13:56] #65 closed, assigned to nobody

[2019-08-20 21:58] gustavovalverde commented on #44
This is still an issue. When automating install we have to:

`rm */currency/currency_rate_update_cm`

[2019-08-29 14:05] SSanfilippo commented on #54
Is possible that this problem is not fixed yet?

[2019-09-29 21:31] OCA-git-bot opened #69 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] currency_monthly_rate
- [ ] currency_rate_inverted
- [x] currency_rate_update - By @feketemihai - #73
- [ ] currency_rate_update_oxr
- [ ] currency_rate_update_transferwise - By @EntrepreneurAJ1 - #101
- [ ] currency_rate_update_xe

Missing module? Check https://github.com/OCA/maintainer-too

[2019-10-11 07:51] dvrles001 opened #70 "[12.] module currency_rate_update European Central Bank Update for non EURO companies"
Hello all
In Version 12 ECB currency update can only be used if the companies base currency is EUR.
Is there a reasoning for this change from previous versions?

I understand the warning message below but why the removal of the functionality?
('European Central Bank is suitable only for companies with EUR as base currency!', '')

Regards,

[2019-10-11 07:57] alexey-pelykh commented on #70
If your company has main currency as USD and you set EUR/XXX exchange rate as USD/XXX exchange rate, what's the point in that? It's an error-prone miss in previous versions

[2019-10-11 08:19] dvrles001 commented on #70
Was this the OCA team's reasoning behind this?

We use it in version 10 and 11 for various companies with base currencies ZAR and USD.
It works perfectly there?

As long as we define what the base currency is, it works fine. All it needs is the relational rate between the currencies. Considering European union is a major Trade partner for many non-EU organisations it makes sense to use the ECB wei

[2019-10-11 08:34] alexey-pelykh commented on #70
In v11, module did recalculation of the rate to serve the data you're referring to. In other words, in base company currency is USD, and you needed PLN rate from ECB, it provided you with USD-to(reversed)-EUR-to-PLN, which is obscure. This feature may be added as optional, PRs are always welcome.

But the bottom line is: ECB has no official rate to convert USD to PLN. Doing math on top of official

[2019-10-12 08:48] dvrles001 commented on #70
Thank you for that explanation.

To be clear, currently there is no open and free auto-rate update service module in the OCA for companies without either a EURO (from ECB) or USD (from OpenExchangeRates.org) base currency?

What would you recommend as the best way forward, adding this feature or creating a new module to deal specifically with this outside USD or EUR base currency use cases?

This

[2019-10-13 08:18] alexey-pelykh commented on #70
There's a pending module in #52 that allows to use currency rates from TransferWise (yet that's targeted mostly for companies that already use it) and seems-to-be-abandoned #43 (that uses https://free.currencyconverterapi.com, yet free seems to be very limited and over-populated). I'm open to implement another services if they provide better free access.

[2019-10-13 08:20] alexey-pelykh commented on #70
Quick googling shows https://fixer.io/product seems may be a fit, yet I'm not totally aware of your usecase. For other countries we're working on local-specific providers (National Bank of XXX country)

[2019-10-18 07:56] Martronic-SA commented on #70
I think a checkbox to enable the inverted calculation and a warning would be good. So we would be able to have the same behavior as in v10 and v11.
That seems correct for example if you are in USD and you want to know EUR exchange rate, then you can take the inverse of EUR to USD right?
And when calculating exchange rate between two other currencies like CHF and USD from EUR, there seems to be a v

[2019-10-18 08:43] Martronic-SA commented on #70
I will provide a PR for that.

[2019-10-18 08:55] alexey-pelykh commented on #70
@Martronic-SA seems to me that it would worth adding inverse (EUR-to-ZAR and ZAR-to-EUR) into base module w/o option. Yet adding USD-to-EUR-to-PLN and similar double-exchange rates should be in a separate module (or even base), since such approach is applicable for any provider (yet I still doubt that's correct from accounting point of view).

[2019-10-18 09:27] Martronic-SA commented on #70
Well the restriction on EUR might be particular to European Central Bank, this is not the case with openexchangerate.

[2019-10-18 09:38] alexey-pelykh commented on #70
@Martronic-SA but EUR restriction is only for ECB, OXR provider supplies whatever it can

[2019-10-19 05:51] dvrles001 commented on #70
@Martronic-SA thanks for working on that PR. All accounting transactions between currencies are based on actual rates paid which always varies from the ECB or any banks daily average. So in my view a daily rate update is not for transaction rates but more a convenience of some basis for internal reporting and updating rates automatically.

@alexey-pelykh I made some inquiries with the South Africa

[2019-10-19 07:58] alexey-pelykh commented on #70
@dvrles001 if SARB provides spreadsheets with currency rates - why not to create a module that downloads them and parses? This module does exactly the same - no API, just downloading files and parsing them.

[2019-10-19 09:05] alexey-pelykh commented on #70
I've looked at https://www.resbank.co.za/Research/Rates/Pages/SelectedHistoricalExchangeAndInterestRates.aspx and so far I'm quite sure that there's a way to create proper module that would process this data. Maybe not as straightforward as ECB one, yet quite-quite doable

[2020-01-28 11:39] bunhin opened #72 "[V11] Currency_rate_inverted wrong currency amount on transfer between foreign currency"
When we do transfer between 2 banks with both are on foreign currency, the currency amount on journal item on the destination bank is not calculated correctly, also when the module is installed it is making the warning and blocking for not setting the credit account of exchange lost or gain not active.

Step to reproduce
1. activate multi currency in accounting-configuration-setting
2. activate so

[2020-02-05 01:39] tupaq commented on #69
We migrate the following modules:
currency_rate_inverted
currency_rate_update
We also supported the Peruvian location to obtain the exchange rate

They find it here:
https://github.com/GrupoYACCK/currency/tree/13.0

[2020-02-10 11:52] MiquelRForgeFlow commented on #69
@tupaq will you do a PR to OCA for these migrated modules?

[2020-02-14 13:44] #70 closed, assigned to alexey-pelykh

[2020-04-04 10:49] sergiuga opened #76 "[13.0] [currency_rate_update] Can't create update service"
First I get this error:

Error:

Traceback:
TypeError: Cannot read property 'tooltip' of undefined
    at Class.<anonymous> (https://abclima.ro/web/content/968-7cb673c/web.assets_common.js:4135:889)
    at Class.trigger (https://abclima.ro/web/content/968-7cb673c/web.assets_common.js:3942:180)
    at Class.trigger (https://abclima.ro/web/content/968-7cb673c/web.assets_common.js:3948:148)
    at Cl

[2020-04-16 07:37] ossimantylahti commented on #76
Confirmed on Odoo 13 CE new empty server with USD, EUR and Mexican pesos.
 Steps to reproduce:

Invoicing -> Configuration menu -> Currency update services (under Accounting).

Click "+Create", an error dialog appears and closes inmediately

Open Select Source servide and select European Central Bank.

As soon as you select that, an error appears:

[code]

[2020-04-16 15:31] ghost opened #77 "[12] currency_rate_update doesn't update currencies"
Hello,
I have configurated currency_rate_update for updating everidays and I think it´s not working Properly.
![2020-04-16 17_28_05-Odoo](https://user-images.githubusercontent.com/25029267/79475280-c36c4300-8007-11ea-8983-498d646c7ce9.png)
![2020-04-16 17_29_21-Odoo](https://user-images.githubusercontent.com/25029267/79475390-e4cd2f00-8007-11ea-9694-a28c16fb92d3.png)
But it's not updating everiday

[2020-04-16 15:37] alexey-pelykh commented on #77
Can you reproduce the behaviour in runbot? From screenshots it seems that it should be updating every day.

[2020-04-16 17:40] ghost commented on #77
Hello,
Since April 9th is not updating. It should be updated everyday. The last updates are because I ran them manually.

[2020-04-16 17:44] alexey-pelykh commented on #77
Not exactly correct. ECB has no rates for April 10th - April 13th including. https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html
![image](https://user-images.githubusercontent.com/345102/79488845-a8ef9500-801a-11ea-9590-32d9e7f76b55.png)

but why it had not restored getting the data after - that's a question to be investigated.

[2020-04-16 17:46] alexey-pelykh commented on #77
Just to confirm we've understood each other correctly - on 14th, 15th module did not fetch any data from ECB?

[2020-04-16 17:49] pedrobaeza commented on #77
I remember a maximum delta was put in the module itself for not fetching data if overpassed. Not sure the exact reason for that.

[2020-04-16 17:58] alexey-pelykh commented on #77
If I recall correctly, after refactoring that was removed and now there's no such limit. Screenshots show that last successful update was on April 11th, and next sync is scheduled for April 17th, so after April 11th it failed but then there should have been issues. Or there was no data? I wonder how to debug this..

[2020-04-16 18:03] pedrobaeza commented on #77
OK, if it was removed, perfect, as I never understood that limitation. There's no way of debugging it unless the issuer provides logs. If not, it should be closed as not reproducible.

[2020-05-18 11:43] HaraldPanten commented on #77
Got the same issue.

Rates aren't being updated. Even manually. I tested on runbot and it has the same issue.

In my local environment, log says:

`odoo.addons.currency_rate_update.models.res_currency_rate_provider: Scheduled currency rates update... `

`odoo.addons.currency_rate_update.models.res_currency_rate_provider: Scheduled currency rates update complete.`

But there's something strange for

[2020-07-02 07:24] HaraldPanten commented on #77
Hi @alexey-pelykh , @gelo-landoo , @pedrobaeza

Did you find anything strange or any news about that issue?

THX!

[2020-07-02 07:40] alexey-pelykh commented on #77
@HaraldPanten I haven't seen such behaviour live, on my instances it works as expected. In this case definitely debugging of your particular instance would be needed, maybe even adding logs to the sources, checking DB entries of those providers. OR this behaviour is reproducible on runbot, but it seems that it isn't.

[2020-07-02 07:41] alexey-pelykh commented on #77
Also, I should note that I'm not using ECB provider on my instances, so maybe it's something about that particular provider. Have you tried recreating it or using other one?

[2020-07-02 07:44] HaraldPanten commented on #77
Not really. I was using ECB and debbuging it seems to work properly.

Let me try another provider and I'll let you know...

[2020-07-02 10:18] pedrobaeza commented on #77
I have it working as well. Check last sucessful update date and next run date.

Closing this meanwhile there are no more evidences.

[2020-07-02 10:18] #77 closed, assigned to alexey-pelykh

[2020-07-02 11:28] HaraldPanten commented on #77
Hi guys, I found the issue:

If field currency_ids from res.currency.rate.provider model is empty, none of the currencies is being updated.

IMHO it should work like that.

As many others many2many (no mandatory) fields, if the field is empty, it should select all the options. Otherwise, we should make this field mandatory.

If we don't do this small change, user is not getting any "bad feedback"

[2020-07-02 11:30] pedrobaeza commented on #77
Of course current behavior is something expected IMO, but if you want to clarify it in the README...

[2020-07-02 11:30] alexey-pelykh commented on #77
That is a bit voodoo magic, IMHO.

[2020-07-02 11:31] pedrobaeza commented on #77
Indeed, expecting that all the possible currencies provided by the provider are updated if you leave the field empty is not something desirable.

[2020-07-02 11:32] pedrobaeza commented on #77
The field can be made required for better UI.

[2020-07-02 11:32] HaraldPanten commented on #77
That would be the best I think

[2020-07-02 11:34] HaraldPanten commented on #77
Is it OK for you if I purpose a small IMP PR? @pedrobaeza @alexey-pelykh ?

[2020-07-02 11:35] alexey-pelykh commented on #77
PRs are always welcomed

[2020-07-29 03:23] pafnow commented on #69
currency_rate_update_oxr > https://github.com/OCA/currency/pull/82

[2020-08-10 15:32] HaraldPanten opened #83 "[RFC][All versions] currency rate updated depending on accounting date instead of invoice date"
Hi, I'd like to comment a use case, as I'm not sure if it's the "best way" to work like that.

- Your company works with € but sometimes you have some invoices with $.

1- You have a vendor bill with invoice date 04/04/2020, but you have to set the accounting date to 08/08/2020.

2- As you have set the accounting date as 08/08, the currency rate for that invoice is taking in consideration the rate

[2020-09-04 08:32] HaraldPanten commented on #83
I was wondering if it's coming directly from Odoo base, and not from any use case of this repository...

How do you think that we should proceed in this use cases?

Would it make sense to set out a module to allow users to select which date would they'd like to consider for the rates conversion?

THX

[2020-09-18 09:32] rafaelbn opened #84 "[Question] currency_rate_update only sync with USD? At least not working with GBP, JPY, DKK"
Hello,

I'm trying to sync USD and GBP, USD works but GBP not.

Any idea?

Thanks in advance
Regards

[2020-09-18 09:34] alexey-pelykh commented on #84
@rafaelbn a bit more details would be much appreciated, since it works for me for EUR/USD/AUD/GBP/UAH with EUR as base currency

[2020-09-18 10:05] rafaelbn commented on #84
Hello @alexey-pelykh , thanks for answering.

Well we should then look deeper... It just that a normal configuration doesn't work as expected

![2020-09-18_12-01-36](https://user-images.githubusercontent.com/8736623/93585470-25f6b000-f9a7-11ea-81dd-1ff8c8e09eb5.png)

[2020-09-18 17:42] alexey-pelykh commented on #84
Is that reproducible on runbot? I'm not using ECB on my instance thus can not verify its behaviour over long period of time

[2020-09-22 14:23] victoralmau commented on #84
Related with this issue, i have created https://github.com/OCA/currency/pull/85 that pretend to solved this "special situation" and describe the problem.

[2020-09-22 14:31] rafaelbn commented on #84
Closing then, we continue ni https://github.com/OCA/currency/pull/85

[2020-09-22 14:31] #84 closed, assigned to nobody

[2020-10-04 10:23] OCA-git-bot opened #86 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] account_cryptocurrency
- [ ] currency_rate_inverted
- [ ] currency_rate_update - By @feketemihai - #88
- [ ] currency_rate_update_oxr
- [ ] currency_rate_update_transferwise
- [ ] currency_rate_update_xe

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-mo

[2020-10-09 11:48] feketemihai commented on #86
currency_rate_update in https://github.com/OCA/currency/pull/88

[2020-12-29 13:33] Yenthe666 opened #92 "[13.0/14.0] currency_rate_update: uses deprecated _company_default_get function"
If you install the module & use it you will notice the following in the logs:

[code]
Which comes back from:
https://github.com/odoo/odoo/blob/de697129d3df2a0ca1f675af1bf57cc5c8a44f5c/odoo/addons/base/models/res_company.py#L180-L187

This should be replaced :)  Just use `self.env.company`

[2021-01-24 20:59] bosd commented on #86
please add:
account_cryptocurrency from https://github.com/OCA/currency/pull/103

[2021-01-25 21:56] bosd commented on #31
`account_fx_spot` --> https://github.com/OCA/currency/pull/68

[2021-01-25 22:03] bosd commented on #86
Please add to the list:
currency_rate_update_transferwise

[2021-02-04 15:54] chusamo opened #93 "[12.0]currency_rate_update:currencies aren't update"
Hello community,
The main currency of one of the companies, is EUR. In that company I have configured the automatization of USD rate. Despite of the fact the last sucesfull date is updated,  the currency rate is not.

I have checked similars pots like #77 however I can't find the solution yet. Maybe do you know what could be?

Thank you

[2021-03-18 11:50] obayit opened #97 "[12.0] currency_rate_inverted not working with valuation"
How to repoduce:
1. Enable angelo-saxon accounting
2. Create a product category with Average Costing, and Automated Valuation.
3. Create a product in that category
4. Purchase and recieve the product to set its cost
5. sell the product
6. validate the custom invoice

The invoice's entry will have wrong values for the valuation move lines (it will not use the inverted currency rate).

[2021-03-18 12:17] obayit commented on #97
Never mind, I didn't select "Inverted exchange rate" in the currency

[2021-03-18 12:17] #97 closed, assigned to nobody

[2021-03-22 19:58] ghost opened #99 "decode() argument 'encoding' must be str, not None"
When testing the migration I have done for TransferWise module to Odoo 13 it errors out when trying to bulk pull the rates with the following error;

`
2021-03-22 19:31:34,970 626 WARNING dummydb odoo.addons.currency_rate_update.models.res_currency_rate_provider: Currency Rate Provider "TransferWise.com" failed to obtain data since 2021-01-01 until 2021-03-22
Traceback (most recent call last):
  F

[2021-03-22 20:05] pedrobaeza commented on #99
Sorry, but this is out of scope of this issue tracker. Only official code is supported.

[2021-03-22 20:05] #99 closed, assigned to nobody

[2021-03-23 09:24] ghost commented on #69
Currency_rate_update_transferwise missing off this list. I have migrated it already PR https://github.com/OCA/currency/pull/101

[2021-04-28 16:11] matteoopenf commented on #93
I have the same problem

[2021-05-20 08:09] andreinl commented on #93
The problem has a very simple solution: you should change the update hour. It should be before 24:00. Module sets this by default to 01:00 but at this time there is no currency rate for the day and server returns no values.
data.xml file should be changed to set time to something like 21:00 and \<odoo\> tag should be \<odoo noupdate="1"\>

[2021-05-20 09:02] pedrobaeza commented on #93
cc @victoralmau

[2021-05-20 09:33] matteoopenf commented on #93
have you try and it work?

[2021-05-20 09:43] andreinl commented on #93
Yes. You can read here: https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html
that "The reference rates are usually updated around 16:00 CET on every working day, except on TARGET closing days.".

Attention, you will need to wait a few days because the function will not run the second time during the same day

[2021-05-20 09:51] matteoopenf commented on #93
Many thanks for the suggestion

[2021-05-24 05:07] alexey-pelykh commented on #93
data.xml file should be changed to set time to something like 21:00 and <odoo> tag should be <odoo noupdate="1">

Changing time by default to fit one provider is a questionable approach. I believe it was discussed somewhere that eventually the module should enhanced to run cron every hour and rely on provider to mark if the data was fetched for the given day, optionally allowing provider to declar

[2021-05-24 06:04] victoralmau commented on #93
https://github.com/OCA/currency/pull/85

[2021-05-24 06:24] alexey-pelykh commented on #93
@victoralmau yes, I'm aware of that PR, but I don't really favor the approach there

[2021-05-24 06:40] victoralmau commented on #93
Ok, what change do you suggest exactly to avoid that? (Remember that ECB does not return an error if the request is made before 17:00, so the values of `last_successful_run` and `next_run` are changed, which causes no data to be saved).

[2021-05-24 09:12] andreinl commented on #93
Anyway setting _noupdate="1"_ is a very simple change and generally correct approach

[2021-05-24 09:13] alexey-pelykh commented on #93
that's 100%

[2021-06-15 09:37] #83 closed, assigned to nobody

[2021-07-21 09:38] batona opened #104 "[12.0]currency_rate_update_transferwise got nothing (wise.com instead?)"
The error is: Currency Rate Provider "TransferWise.com" failed to obtain data since 2021-07-20 until 2021-07-20: decode() argument 1 must be str, not None

[2021-07-21 09:39] alexey-pelykh commented on #104
You're trying to use it with either personal account, not business one, or you don't have any borderless accounts on your corporate account

[2021-07-21 09:39] #104 closed, assigned to nobody

[2021-08-08 19:29] SkiBY commented on #69
@tupaq @MiquelRForgeFlow  created a fix for currency_rate_inverted. Can you see it ( [#107](https://github.com/OCA/currency/pull/107))?

[2021-10-17 10:14] OCA-git-bot opened #110 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] account_cryptocurrency
- [x] currency_rate_update - By @tupaq - #113
- [ ] currency_rate_update_cmc

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2021-10-18 10:31] dp-myodoo opened #111 "[Question] Uploading V14.0 branch to Odoo Apps Store"
Hi,
Is it possible for You to upload Currency Rate Update module to Odoo Apps Store?
Currently last available version from Odoo Apps Store is [V13.0](https://apps.odoo.com/apps/modules/13.0/currency_rate_update/)

[2021-10-18 11:26] pedrobaeza commented on #111
Done.

[2021-10-18 11:26] #111 closed, assigned to nobody

[2021-10-20 06:01] d4e-ch opened #112 "account_cryptocurrency : precision issue"
Hello !
First, thanks a lot for those modules.
I have an issue with ETH for examples, which needs 18 decimals.
It gives a precision problem, caused by the `Float` type limitation.

In this account move, I entered **1.0** as unit price. But I have **1.000000000000000222** .
![image](https://user-images.githubusercontent.com/52782157/138036622-8404733d-16ff-403a-b94f-f1ca87f39d3f.png)

How do you do

[2021-11-22 21:24] jbarberd commented on #54
Hi!

We're getting this same error in Odoo 11. It seems Coinmarketcap API URL has changed.

Is there any patch to apply to v11 in order to keep it working?

Many thanks!

[2021-12-10 15:42] francesco-ooops opened #124 "[14.0] currency_rate_update translation locked"
There is currently an alert on weblate blocking translation for this module: https://translation.odoo-community.org/projects/currency-14-0/currency-14-0-currency_rate_update/#alerts

![image](https://user-images.githubusercontent.com/55489873/145600872-c8e44c1c-f709-4546-83f2-05fb62f0a87a.png)

Could someone check everything is correct in translation files?

[2021-12-11 11:22] pedrobaeza commented on #124
Unlocked!

[2021-12-11 11:22] #124 closed, assigned to nobody

[2022-01-06 07:03] kyngslay commented on #110
Help wanted with?

[2022-01-06 10:16] pedrobaeza commented on #110
Migrating the OCA modules of this repository to v15

[2022-01-14 09:06] Mantux11 commented on #110
currency_rate_update: #125

[2022-01-14 14:57] Mantux11 commented on #110
@pedrobaeza I'm done one of the modules faster than you. :laughing:  Do you have done migrations of these modules? If not, could you review this currency_rate_update module PR: #125? Thanks:)

[2022-01-14 15:43] pedrobaeza commented on #110
Well, there's already #113

[2022-04-03 13:05] bosd commented on #86
currency_rate_update_cmc in #106

[2022-04-03 13:28] bosd commented on #112
On which version does this occur?

[2022-04-04 06:24] d4e-ch commented on #112
Hello,
My tests are on V14.
Thanks,

[2022-04-04 09:02] bosd commented on #112
What steps did you take? How to replicate this?

[2022-04-09 20:54] bosd commented on #112
related: https://github.com/odoo/odoo/issues/7024

Lots of interresting links in: https://github.com/OCA/l10n-brazil/issues/1634#issuecomment-954227161

[2022-06-08 20:11] bosd commented on #112
@d4e-ch Do you still have this problem?
I'm on a freshly build V14 image, developing the Monero module.
Here it's fine..
![image](https://user-images.githubusercontent.com/11499387/172707726-89473c03-03ff-48f5-b53d-cbc09cbb1dce.png)

I did notice a different "feature" on the generated pdf.
But that's a different topic.
![image](https://user-images.githubusercontent.com/11499387/172707907-7e148f88-

[2022-07-21 11:14] matteoopenf commented on #93
I have again the problem and cron start at 17.01, have you some news, or there is some changed?
https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml If I call from browser it works from code it's seems empty

[2022-09-23 08:21] alexis-via commented on #92
Fixed in v14 : https://github.com/OCA/currency/blob/14.0/currency_rate_update/models/res_currency_rate_provider.py#L28
and in v13 too https://github.com/OCA/currency/blob/13.0/currency_rate_update/models/res_currency_rate_provider.py#L28

[2022-09-23 08:21] alexis-via commented on #92
So we can close the issue... but I don't have enough rights to close this issue (!)

[2022-09-23 08:38] #92 closed, assigned to nobody

[2022-09-23 08:46] alexis-via opened #136 "Warning on old rates"
In the old days, I used to maintain a module called "currency_rate_date_check" (https://github.com/OCA/account-financial-tools/tree/8.0/currency_rate_date_check) that would raise an error when doing a currency conversion with a rate that was too far away from the date requested by the currency conversion. I stopped maintaining this module for some good reasons... but it was long ago and I don't re

[2022-09-23 09:10] alexis-via commented on #136
My idea to display a warning banner on the accounting dashboard was not good: warning banners are for form views, not for kanban views!
So I'm thinking about the best way to send a message for users that they can't miss. Create an activity ? Send a chat message ?

[2022-09-23 09:11] nibraun commented on #136
I think this is a very good idea ;-) The chat message or simply an email...

[2022-09-23 09:48] alexis-via commented on #136
Other ideas include:
- using web_notify https://github.com/OCA/web/tree/14.0/web_notify
- using web_environment_ribbon https://github.com/OCA/web/tree/14.0/web_environment_ribbon
- using custom JS code inspired from web_environment_ribbon or web_switch_context_warning (but I would like to avoid having a module with JS code to maintain)

[2022-09-23 10:12] alexis-via commented on #136
web_notify with sticky=True seems like a good option for me. The README of the module for v14 says "To work properly, the server must be launched in gevent mode.", but, according to my tests on v14, it works even when the server is NOT in multi-worker mode (for me, gevent requires multi-worker, but I may be wrong).

[2022-09-23 17:27] rousseldenis commented on #136
I +1 on this.

One question: do you have already proposed something in Odoo directly as it could be a great feature?

[2022-09-23 19:39] alexis-via commented on #136
Dear Denis,
I'm glad you consider this as important !
OCA is full of great features that should be included in odoo directly... web_notify is another example of such great features that should be in odoo core! :)
But, at the end of the day, if we don't want to wait odoo v19 to have a mecanism to make sure the currency rates used are not too old, I propose my module currency_old_rate_notify to the

[2022-09-23 20:41] rousseldenis commented on #136
Of course. But making an issue or a PR, even if a bottle in...

[2022-10-03 16:21] sbidoul opened #139 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] currency_old_rate_notify - By @alexis-via - #165
- [x] currency_rate_update - By @AEstLo - #141
- [x] currency_rate_update_xe - By @mpascuall - #193

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2022-10-26 13:10] AEstLo commented on #139
currency_rate_update: https://github.com/OCA/currency/pull/141